<%- include("partials/header.ejs"); %>

<h2>Log in to your account</h2>
<form action="/login" method="POST">
    <p>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="text" name="password" required>
    </p>
    <input type="submit" value="log in">
</form>

<%- include("partials/footer.ejs"); %>
